@model IEnumerable<BuurtApplicatie.Models.DeletedPost>

@{
    ViewData["Title"] = "Verwijderde meldingen";
}

<h1>Jouw verwijderde meldingen</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
        </tr>
    }
    </tbody>
</table>